/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* Reset */
*{
	margin: 0;
	padding:0;
}

/* Helpers */
.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

/* Main Styles */
body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background-color: #fefefe;
}

.navbar {
	background-color: #000;
	border-top: 4px solid #1ce;
	padding: 1em 0;
}

.navbar .navbar-brand {
	font-size: 1.8em;
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-right {
	float: right;
}

.navbar .navbar-right li {
	display: inline-block;
	list-style: none;	
	margin-top: 0,3em;
	margin-right: 1.5em;
}

.navbar .navbar-right li:last-child {
	margin-right: 0;
}

.navbar .navbar-right li a {
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-right li a:hover {
	color: #1ce;
}

.footer {
	text-align: center;
	margin-top: 3em;
	color: rgba(0, 0, 0, 0.6)
}

.footer:before {
	content: " ";
	display: block;
	height: 2px;
	background-color: #1ce;
	margin: 1em auto;
	width: 40%;
}