{% extends 'blog/base.html' %}


{% block title %}Blog{% endblock %}

{% block body %}

	<h1>Blog ({{ posts|length }} posts)</h1>


	{% for posts in posts %}

		<article>

			<h2><a href="{% url 'blog:show' posts.id %}"> # {{ posts.id }} - {{ posts.title|upper }} </a> </h2>
			<p> {{ posts.body|truncatewords:3 }} </p>
			<p> <a href="{% url 'blog:show' posts.id %}"> lire la suite </a> </p>
		</article>

		{% if not forloop.last %}
		<hr>
		{% endif %}
	{% empty %}
		<p> no post available </p>

	{% endfor %}

{% endblock  %}