{% extends 'blog/base.html' %}

{% block title %}Blog | {{ posts.title }}{% endblock %}

{% block body %}

	<article>
		<h1> show post details #{{posts.id}}  alala</h1>
		<p>{{posts.body}}</p>
	</article>
	<hr>
	<p><a href="{% url 'blog:index' %}">All posts</a>

{% endblock  %}