
<nav class="navbar">

	<div class="wrapper">

		<a href="{% url 'home' %}" class="navbar-brand"> Test </a>

		<ul class="navbar-right">
			<li> <a href="{% url 'home' %}"> Home </a> </li>
			<li> <a href="{% url 'blog:index' %}"> Blog </a> </li>
			<li> <a href="{% url 'about' %}"> About </a> </li>
			<li> <a href="{% url 'contact' %}"> contact </a> </li>
		</ul>

	</div>

</nav>

