{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}Test{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	{% block stylesheets %}{% endblock %}
</head>

<body>

	{% include 'layout/_nav.html' %}

	<div class="wrapper">
		{% block content %}{% endblock %}
	</div>

	{% include 'layout/_footer.html' %}

	{% block javascripts %}{% endblock %}
	
</body>
</html>